/**
 * Fraedom specific styles.
 *
 * Common styles have already been imported and can be overridden here.
 */

/**
 * <%= yeoman.choices.Feature %> page specific styles.
 *
 * Always encapsulate styles hierarchical.
 */
body {
  content {
  /**
   * Insert all other parents here.
   */
  <%= yeoman.choices.feature %> {
      h1 {
        box-shadow: 0px 0px 2px #000000;
      }
      .font-roboto {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 100;
        font-size: x-larger;
      }
    }
  }
}
